html {
  color-scheme: dark !important;
}
body {
  margin: 0px;
}

@media (width > 1440px) {
  .main {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (768px <= width <= 1440px) {
  .main {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (width <= 768px) {
  .main {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}

.navmenu {
  transition: opacity 0.8s;
}
.navmenu.plusopacity {
  opacity: 40%;
}
.navmenu > div {
  transition: min-height 0.8s;
}
.navmenu.plusopacity > div {
  min-height: 50px;
}

.drawerMain > .MuiPaper-root {
  opacity: 100%;
  padding: 0px 20px 0px 20px;
}

.CapsuleListContainer > a {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.filterCapsuleList {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.CapsuleListContainer > a > p {
  display: inline;
  margin: 4px;
}

.activeButton {
  opacity: 60%;
}

.CapsuleListContainer > div > div {
  all: revert;
}

.drawerMain > div {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.092),
    rgba(255, 255, 255, 0.092)
  );
}
